<div>
	<h2>Authors</h2>

	
	<form class="AddForm  padding" name="newAuthorFrm" ng-submit="addSkill()">
     <input type="text"  ng-model="newAuthor.name" placeholder="Name" required />
     <input type="text"  ng-model="newAuthor.nationality" placeholder="Nationality" required />
     <button class="primary" ng-disabled="newAuthorFrm.$invalid" ng-click="addAuthor()">Add Author</button>
     
  	</form>
  <div class="clearfix"></div>
  
	
	<div class="jumbotron">
	
		<div class="input-group">
	        <span class="input-group-addon">
	            <span class="glyphicon glyphicon-search"></span>
	        </span>
	        <input type="text" class="form-control" ng-model="main.searchInput">
	    </div>
		<div class="container">
			<ul class="AuthorList">
			    <li ng-repeat="author in authors | filter:main.searchInput " class="{'fadeOut' : author.done}">
		   			<span>{{author.name}}</span> de <span class="text-info" >{{author.nationality}}</span>
			     	<button ng-click="deleteAuthor(author)"  type="button"   class="pull-right btn btn-danger btn-sm">delele</button>
			    </li>
			  </ul>
		</div>
	</div>
</div>