
<div>
    <a ng-click="openAddBook()" class="pull-right btn btn-primary btn-outline btn-rounded">Add Book</a>
    <h2>Books</h2>
    <form name="addBookForm" class="form jumbotron" ng-show="addBookPanel" ng-submit="addBook()">
        <h3>Add a new Book</h3>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="book.title" required />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="book.description" required />
        </div>
        <div class="form-group">
            <label>select Author</label>
            <select class="form-control m-b" ng-model="book.author" ng-options="author.value as author.label for author in authors"></select>
        </div>
        <div class="row">
            <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
        </div>
    </form>
    <div class="jumbotron">
        <div class="input-group">
            <span class="input-group-addon">
	            <span class="glyphicon glyphicon-search"></span>
            </span>
            <input type="text" class="form-control" ng-model="main.searchInput">
        </div>
        <div class="container">
            <ul class="AuthorList">
                <li ng-repeat="book in books | filter:main.searchInput ">
                    <button ng-click="deleteBook(book)" type="button" class="pull-right btn btn-danger btn-sm">delele</button>
                    <span>{{book.title}}</span> : <span class="text-info">{{book.description}}</span>
                    <span class="text-danger pull-right" style="padding-right: 30px;">{{book.author.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
