// wiredep-removed:bower:less
// wiredep-removed:endbower

@import "less/bootstrap.less";

// Base
@import "base.less";

// Pages
@import "pages/login.less";
@import "pages/dashboard.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "../../bower_components/bootstrap-btn-outline-rounded/index.less";
@import "transitions/all.less";

// Other
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
	overflow: hidden;
}








/*NUEVO*/


.AddForm input {
  border: 0;
  margin-right: 5px;
  background: transparent;
  border-bottom: 1px solid #2E3641;
  width: 150px;
  padding: 8px;
  @include transition(all .3s ease);
  
  &:focus, &:active {
    outline: 0;
    border-bottom-color: #F97D75;
  }
}

.AddForm button {
  background-color: #F97D75;
  border: 0;
  padding: 8px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  
  &:focus, &:active {
    outline: 0;
  }
}

ul.AuthorList {
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}

.AuthorList li {
height: 44px;
  border-bottom: 1px solid #2E3641;
  display: block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.AuthorList .fa-close {
  cursor: pointer;
}

[contenteditable] {
  &:focus, &:active {
    outline:0;
  }
}