<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="text-center">
                    <h2 class="brand">Bienvenido </h2>
                    <h5 class="brand">{{name}} </h5>
                    <img src="images/flat-avatar.png" class="user-avatar" />
                    <br />
                    <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
                </div>
                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('authors')}"><a ui-sref="authors">Authors<span class="sr-only">(current)</span></a></li>
                    <li ng-class="{active: $state.includes('books')}"><a ui-sref="books">Books</a></li>
                    <li><a ui-sref="login">Logout</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
            </div>
        </div>
    </div>
</div>
