<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="images/flat-avatar.png" class="user-avatar" />
            <h1>Library <small>Ingrese sus datos</small></h1>
            <form role="form" ng-submit="submit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Tu nombre">
                    </div>
                </div>
                <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
            </form>
        </div>
    </div>
</div>
